body{
    margin: 0%;
    padding: 0%;
    background-color: lightgoldenrodyellow;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
  }
  .display h3,h4{
    margin:6px;
  }
  .display img{
      width:200px;
  }