body{
    margin: 0%;
    padding: 0%;
    background-color: lightgoldenrodyellow;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
  }
  .display h3,h4{
    margin:6px;
  }
  .display img{
      width:200px;
  }
  .space{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 30px;
    margin-left: -600px;
  }
  .pokihead{
    display: flex;
    flex-direction: column;
    jus
  }
  .space1 {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 30px;
    margin-left: 100px;
  }

  .space2 {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 30px;
    margin-left: 300px;
  }
  
  .contain {
    display: flex;
    flex-direction: row;
  }